@import "../colors.scss";

.brand {
  background-color: $white-color;
  border-radius: $border-radius;
  border: 1px solid $white-color;
  cursor: pointer;
  height: 120px;
  width: 120px;

  .holder {
    width: 100%;
    height: 100%;
    border: 1px solid $white-color;
    border-radius: $border-radius;
    background-color: $main-color;
  }
}
