.Order {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  direction: rtl;
  padding: 20px;

  .Top {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    color: #000;

    .Status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      div {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      span {
        font-size: 0.9rem;
        font-weight: 500;
      }
    }

    .Details {
      display: flex;
      gap: 20px;

      .Small {
        font-size: 0.8rem;
        color: #aaa;
      }
      .Bold {
        font-weight: 500;
        font-size: 0.9rem;
      }
    }

    &:hover {
      color: #000;
    }
  }

  .Images {
    padding-top: 20px;
    display: flex;
    gap: 5px;

    .Product {
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1000px) {
  .Order {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    border-radius: 0;

    .Top {
      border-bottom: none;
      padding-bottom: 5px;
    }
    .Images {
      padding-top: 5px;
    }
  }
}
