@import "../../../styles/colors.scss";

.holder {
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  .title {
    display: flex;
    align-items: center;
    gap: 20px;

    h1 {
      margin: 0;
      font-size: 1.5rem;
    }
  }
}

.error {
  background: #b91372;
  background: -webkit-linear-gradient(bottom left, #b91372, #6b101b);
  background: -moz-linear-gradient(bottom left, #b91372, #6b101b);
  background: linear-gradient(to top right, #b91372, #6b101b);
}

.green {
  background: #182c25;
  background: -webkit-linear-gradient(top right, #182c25, #63d471);
  background: -moz-linear-gradient(top right, #182c25, #63d471);
  background: linear-gradient(to bottom left, #182c25, #63d471);
}
