.Small {
  font-size: 0.8rem;
  color: #555;
}
.Bold {
  font-weight: 600;
  font-size: 0.9rem;
  color: #333;
}

.Product {
  width: 200px;
  padding: 10px;
}

.Product > img {
  width: 180px;
  height: 180px;
  object-fit: contain;
}
