.holder {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.titleHolder {
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    margin: 0;
  }
}
