.holder {
  width: calc((100% - 15px) / 4);
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  gap: 5px;

  .right {
    flex-grow: 2;

    .title {
      font-size: 0.9rem;
      font-weight: 400;
      color: #333;
      margin-bottom: 10px;
    }

    .value {
      font-size: 1.1rem;
      font-weight: 700;
    }
  }
  .left {
    display: flex;
    gap: 5px;
  }
}

@media screen and (max-width: 1700px) {
  .holder {
    width: calc((100% - 10px) / 3);
  }
}

@media screen and (max-width: 1400px) {
  .holder {
    width: calc((100% - 5px) / 2);
  }
}

@media screen and (max-width: 680px) {
  .holder {
    width: 100%;
  }
}
