$main-color: #d52901;
$main-color-light: #ff9a83;
$white-color: #fff;
$black-color: #333;
$background-color: #fff;
$light-blue-color: rgb(34, 193, 247);
$color-neutral-300: #c0c2c5;
$color-background-light: linear-gradient(
    0deg,
    hsla(240, 3%, 94%, 0.5),
    hsla(240, 3%, 94%, 0.5)
  ),
  #fff;

////////////////////////////////
$border-radius: 7px;

////////////////////////////////
$header-height: 115px;
